<section class="section">
  <div class="container">
    <div class="subtitle">スリスリくんをマネしてしゃべります</div>
  </div>
  <%= form_with(url: '/translate') do |form| %>
    <div class="field">
      <div class="control">
        <%= form.text_area :source, value: @source, placeholder: "しゃべらせたい文章を入れてください。", class: 'textarea' %>
      </div>
    </div>
    <div class="field">
      <div class="control has-text-right">
        <label class="checkbox">
          <%= form.check_box :with_greeting, checked: @with_greeting %>
          あいさつさせる
        </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <div class="buttons is-centered">
          <%= form.submit 'しゃべらせる', class: 'button' %>
        </div>
      </div>
    </div>
    <% if @result.present? %>
      <div class="card">
        <div class="card-content">
          <article class="media">
            <div class="media-left">
              <p class="image is-48x48">
                <%= image_tag('/kagemushakun.png', class: 'is-rounded') %>
              </p>
            </div>
            <div class="media-content">
              <div class="content">
                <strong>忍者カゲムシャくん</strong><br>
                <% if @greeter %>
                  <%= simple_format(@greeter.message + "\n") %>
                <% end %>
                <%= simple_format(@result) %>
              </div>
            </div>
          </article>
        </div>
      </div>
      <% if @greeter %>
        <br>
        <div class="has-text-right">
          <%= link_to tag.span(tag.i(nil, class: 'fas fa-link'), class: 'icon') + '参考にしたジャーナル', @greeter.source, target: '_blank', rel: 'noopener' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</section>
